/* defaults */
.timeserieschart path {
    stroke-width: 1;
    fill: none;
    stroke: darkgray;
}
.timeserieschart line {
    stroke: darkgray:
}
.timeserieschart text {
    stroke: none;
    fill: #666;
    font-family: sans-serif;
    font-size: 11px;
}

/* datalines */
.timeserieschart path.dataline {
    stroke: steelblue;
}

/* axes */
.timeserieschart .axis {
    shape-rendering: crispEdges;
}
.timeserieschart .x.axis path.domain {
    stroke: none;
}
.timeserieschart .x.axis line.tick {
    stroke: lightgray;
}
.timeserieschart .x.axis line.tick.minor {
    stroke-opacity: 0.5;
}
.timeserieschart .y.axis line.tick {
    stroke: darkgray;
}

/* univariate time series */
